:root {
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0.5px;
  --background-color: #f0f0f0;
  --secondary-color: #ff0000;
  --green-color: #10aa10;
  --font-color: #000000;
  --contrast-color: #ffffff;
}

html[theme='dark'] {
  --background-color: #0f0f0f;
  --font-color: #ffffff;
  --contrast-color: #000000;
}
